* {
  /* essa funcao dita regras universais para o codigo css
  nesse caso eu igualei qualquer margem a 0 e qualquer padding a 0 tambem.*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --card-color-primary: #338af3;
  --card-title-border-color: #338af3;
  --card-bg-color: #202024;
  --navbar-tittle-color: #cfcfcf;
  --navbar-border-color: #a71e1e;
  --bg: url(./assets/bg-blue.svg);
}

ul {
  list-style: none;
  /*nessa parte eu tiro todo os pontos que vem por padrao 
  no codigo html, nas funcoes de lista */
}

body {
  /*body eh a funcao que esta toda a pagina
  nesse caso uso ela para definir apenas as caracteristicas do fundo*/

  background: #121214 var(--bg) no-repeat top center/cover;
}
body * {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--navbar-tittle-color);
  border-bottom: 3px inset var(--navbar-border-color);
}

nav img {
  height: 50px;
}

nav a {
  background-color: #333;
  color: var(--navbar-tittle-color);
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

#app {
  /* essa eh a div com id "app". que eh a div
  que contem todas as informacoes*/
  width: fit-content;
  margin: auto;
  padding-top: 52px;
}
header {
  /*contem a logo*/
  box-sizing: border-box;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #013369;
  border-bottom: 3px inset var(--navbar-border-color);
}
#cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.card {
  /*contem apenas o bloco das informacoes da partida
  como dia hora e as bandeiras*/
  padding: 32px 23px;
  text-align: center;

  background: var(--card-bg-color);
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: 6px;
}
.card h2 {
  /*estilizacao do texto dentro do card*/
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  border: 1px solid var(--card-title-border-color);
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;

  color: #f7dd43;
}
.card h2 span {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

.card ul {
  /*pego toda a lista de cards
  e libero a diponibilidade comn "flex" 
  */
  display: flex;
  flex-direction: column; /*disponho a lista de cards em modo coluna*/
  gap: 24px; /*coloco um gap entre os card*/
  width: 270px; /*ajusto a largura da caixa*/
}
.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card ul li + li {
  /*eu chamo todos os cards que tem 
  um card anterior a ele tambem */
  padding-top: 24px;
  border-top: 1px solid #323238;
}
.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  color: #e1e1e6;
}

/* TRANSICOES */

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover,
.navb:hover {
  /*efeito de aumento quando passa encima do icon*/
  transform: scale(1.1);
}

.card h2,
.card ul li strong,
.card ul li img,
.navb {
  /*suaviza a transicao quando passar encima do botao*/
  transition: transform 0.3s;
}
.card {
  opacity: 0;
  animation: appear 0.2s forwards;
}
@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 700px) {
  /* se a largura da pagina eh no minimo 700px ele 
  aplica as seguintes alteraçoes:*/
  #cards {
    max-width: 670px;
    flex-direction: row; /*dispoe os elementos em linha*/
    flex-wrap: wrap;
  }
}
