* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

body {
  background-color: #121214;
  background-image: url(./assets/bg.svg);
  background-position-x: center;
  background-position-y: 55.6%;
}
#app {
  width: fit-content; /* o tamanho da caixa eh proporcional ao conteudo que esta dentro dela.*/
  margin: 52px auto;
}

header {
  margin-bottom: 63px;
}
main {
  border: 1px solid red;
}
